In [1]:
import pandas as pd
from taxaplease import TaxaPlease
import os
import sys

In [2]:
#f = pd.read_csv("~/shared-team/mike/gpha-mscape-orangebox-virus-reclassification/results/test_climbid_test_runid_kraken_results.txt", sep="\t")
df1 = pd.read_csv("~/shared-team/mike/gpha-mscape-orangebox-virus-reclassification/results/test_climbid_test_runid_kraken_report.txt", sep="\t",
                 names=[
                         "percent_coverage",
                         "no_reads_covered",
                         "no_reads_assigned",
                         "rank",
                         "taxid",
                         "name"
                     ])

In [16]:
taxaPlease = TaxaPlease()
taxaPlease.isVirus()

TypeError: TaxaPlease.isVirus() missing 1 required positional argument: 'inputTaxid'

In [105]:
test = df1.copy()
l1 = []
for x in df1["taxid"]:
    a = taxaPlease.isVirus(x)
    l1.append(a)
    #taxaPlease.isVirus(df1["taxid"][0:2])
test = test.assign(is_virus=l1)
test

,percent_coverage,no_reads_covered,no_reads_assigned,rank,taxid,name,is_virus
0,0.01,17,17,U,0,unclassified,False
1,99.99,181588,0,R,1,root,False
2,99.99,181588,0,R1,10239,Viruses,True
3,99.76,181164,0,R2,2732004,Varidnaviria,True
4,99.76,181164,0,K,2732005,Bamfordvirae,True
...,...,...,...,...,...,...,...
92,0.00,1,0,F2,2960224,unclassified Ensavirinae,False
93,0.00,1,0,G,12059,Enterovirus,True
94,0.00,1,0,S,3428501,Enterovirus alpharhino,False
95,0.00,1,0,S1,147711,Rhinovirus A,True
96,0.00,1,1,S2,573824,rhinovirus A1,True

In [92]:
test = df1.copy()
test = test.assign(is_virus=test['taxid'].apply(lambda x: taxaPlease.isVirus(x)))
test

,percent_coverage,no_reads_covered,no_reads_assigned,rank,taxid,name,is_virus
0,0.01,17,17,U,0,unclassified,False
1,99.99,181588,0,R,1,root,False
2,99.99,181588,0,R1,10239,Viruses,True
3,99.76,181164,0,R2,2732004,Varidnaviria,True
4,99.76,181164,0,K,2732005,Bamfordvirae,True
...,...,...,...,...,...,...,...
92,0.00,1,0,F2,2960224,unclassified Ensavirinae,False
93,0.00,1,0,G,12059,Enterovirus,True
94,0.00,1,0,S,3428501,Enterovirus alpharhino,False
95,0.00,1,0,S1,147711,Rhinovirus A,True
96,0.00,1,1,S2,573824,rhinovirus A1,True

In [9]:
def is_virus(df:pd.DataFrame) -> pd.DataFrame:
    """initiate TaxaPlease and use isVirus function (->bool) to determine if taxids found are listed as viruses in NCBI database."""
    taxaPlease = TaxaPlease()
    df = df.assign(is_virus=df['taxid'].apply(lambda x: taxaPlease.isVirus(x)))
    return df

df1 = is_virus(df1)
df1

,percent_coverage,no_reads_covered,no_reads_assigned,rank,taxid,name,is_virus
0,0.01,17,17,U,0,unclassified,False
1,99.99,181588,0,R,1,root,False
2,99.99,181588,0,R1,10239,Viruses,True
3,99.76,181164,0,R2,2732004,Varidnaviria,True
4,99.76,181164,0,K,2732005,Bamfordvirae,True
...,...,...,...,...,...,...,...
92,0.00,1,0,F2,2960224,unclassified Ensavirinae,False
93,0.00,1,0,G,12059,Enterovirus,True
94,0.00,1,0,S,3428501,Enterovirus alpharhino,False
95,0.00,1,0,S1,147711,Rhinovirus A,True
96,0.00,1,1,S2,573824,rhinovirus A1,True